@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Speed Pluger</h1>
    <p class="lead">SpeedPluger gives you a powerful tools to make your own music using a VST plugins</p>
    <p><a href="~/Account/Register" class="btn btn-warning btn-lg" translate="yes">Let's Start&raquo;&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Popular Post</h2>
        <p><b>Calvin Harris</b> record a new song *o*</p>
          <p><b>Avicii</b> record a new song *o*</p>
          <p><b>R3hab</b> record a new song *o* .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More..&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Post</h2>
        <p>I like trains.</p>
        <p>My mum is a DJ<p>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">More.. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top plugins</h2>
        <p>FatBass by Grubas.</p>
        <p>NewEra</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">More.. &raquo;</a></p>
    </div>
</div>