@{
    ViewBag.Title = "VST Plugins";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-pull-4"><p>GuitarStuff</p></div>
 <div class="col-md-pull-4"><p>FXMaster</p></div>
     <div class="col-lg-push-4"><p>Nexus Pro</p></div>
         <div class="col-md-4"><p>GNUMorph</p></div>
             <div class="col-md-pull-4"><p>Vapor</p></div>