@{
    ViewBag.Title = "Tutorials FL Studio 11";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Lorem Ipsum<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>YT:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>